<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
    </head>
    <body>
        <h2 th:text="'List of Vets'">Test</h2>
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Specialties</th>
            </thead>
            <tbody>
                <tr th:each="vet : ${vets}">
                    <td th:text="${vet.getFirstName() + ' ' + vet.getLastName()}"></td>
                    <td>
                        <span th:each="specialty : ${vet.getSpecialities()}" th:text="${specialty.getDescription() + ' '}">
                        </span>
                        <span th:if="${vet.getSpecialities().size() == 0}">None</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>